<!-- Indentation for proper formatting of View Source -->
          <!-- Render body_header -->
          <%= render "shared/body_header" %>

          <!-- artists/show.html.erb -->
          <input id="artistId" name="artistId" type="hidden" value="<%= @artist.id %>">
          <div class="panel-heading">
            <div class="text-center">
              <h1>(#<%= @artist.id %>) <%= @artist.name %></h1>
            </div>
          </div>
          <div class="panel-body">
            <div class="float-left">
              <%= link_to "Back to Artists",
                artists_path,
                class: "btn btn-info btn-md" %>
            </div>
            <div class="float-right">
              <a href="#"
                id="song-delete-all"
                 class="btn btn-warning">
                 Delete all songs
              </a>
          </div>

          </div>

          <div class="panel-body">
            <table id="song-table" class="table">
              <tr>
                <th>Title</th>
                <th>#</th>
                <th class="text-center">Don't like it?</th>
              </tr>
              <% @artist.songs.each do |song| %>
                <tr id="song-<%= song.id %>"">
                  <td class="song"><%= song.title %></td>
                  <td>#<%= song.artist_id %>-<%= song.id %></td>
                  <td class="text-center">
                    <a href="#"
                      id="song-delete-<%= song.id %>"
                      name="<%= song.artist_id %>"
                      class="song-delete btn btn-warning">Delete</a>
                  </td>
                </tr>
              <% end %>
            </table>
          </div>

          <div class="panel-body">
            <h4>Would you like to add your favorite song?</h4>
            <%= form_for [@artist, @artist.songs.new], html: { multipart: true } do |f| %>
            <table class="table">
              <tr>
                <td>
                  <div class="form-group">
                    <%= f.text_field :title,
                        id: "new-title",
                        class: "form-control",
                        placeholder: "Title" %>
                  </div>
                </td>
                <td class="text-center">
                  <div class="actions">
                    <a href="#" id="add-song" class="btn btn-success btn-md">Add</a>
                </div>
                </td>
              </tr>
            </table>
            <% end %>
          </div>

          <!-- Render body_footer -->
          <%= render "shared/body_footer" %>
