<!-- Indentation for proper formatting of View Source -->
          <!-- Render body_header -->
          <%= render "shared/body_header" %>

          <div class="panel-heading">
            <div class="text-center">
              <h1>(#<%= @artist.id %>) <%= @artist.name %></h1>
            </div>
          </div>
          <div class="panel-body">
            <div class="float-left">
              <%= link_to "Back to Artists",
                artists_path,
                class: "btn btn-info btn-md" %>
            </div>
            <div class="float-right">
              <a href="#"
                id="song-delete-all"
                 class="btn btn-warning">
                 Delete all songs
              </a>
          </div>

          </div>

          <div class="panel-body">
            <table class="table">
              <tr>
                <th>Title</th>
                <th>#</th>
                <th class="text-center">Don't like it?</th>
              </tr>
              <% @artist.songs.each do |song| %>
                <tr>
                  <td id="song-<%= song.id %>">
                    <%= song.title %>
                  </td>
                  <td>
                    #<%= song.artist_id %>-<%= song.id %>
                  </td>
                  <td class="text-center">
                    <a href="#"
                      id="song-delete-<%= song.id %>"
                       class="btn btn-warning">
                       Delete
                    </a>
                    <!-- < %= link_to "Delete",
                      artist_song_path(song.artist.id, song.id),
                      method: :delete,
                      data: { confirm: "Delete song. Are you sure?" },
                      class: "btn btn-warning" %> -->
                  </td>
                </tr>
              <% end %>
            </table>
          </div>

          <div class="panel-body">
            <h4>Would you like to add your favorite song?</h4>
            <%= form_for [@artist, @artist.songs.new], html: { multipart: true } do |f| %>
            <table class="table">
              <tr>
                <td>
                  <div class="form-group">
                    <%= f.text_field :title,
                        class: "form-control",
                        placeholder: "Title" %>
                  </div>
                </td>
                <td class="text-center">
                  <div class="actions">
                    <a href="#" id="add-song" class="btn btn-success btn-md">Add</a>
                    <!-- < %= f.submit "Add",
                        class: "btn btn-success btn-md" %> -->
                    <!-- <div class="actions">
                       <input type="submit" name="commit" value="Add" class="btn btn-success btn-md" data-disable-with="Add" />
                     </div> -->
                </div>
                </td>
              </tr>
            </table>
            <% end %>
          </div>

          <!-- Render body_footer -->
          <%= render "shared/body_footer" %>
